$corPadrao: #aa1111;
$corSecundaria: #324e61;

@font-face {
    font-family: 'djb_almost_perfectregular';
    src: url('../fonts/DJB Almost Perfect-webfont.eot');
    src: url('../fonts/DJB Almost Perfect-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DJB Almost Perfect-webfont.woff2') format('woff2'),
         url('../fonts/DJB Almost Perfect-webfont.woff') format('woff'),
         url('../fonts/DJB Almost Perfect-webfont.ttf') format('truetype'),
         url('../fonts/DJB Almost Perfect-webfont.svg#djb_almost_perfectregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
 {
    color: black;
    font-size: 18px;
    line-height: .8;
    text-transform: uppercase;
}

.dialogo {
    position: fixed;
    background-color: transparentize(#555, .4%);
    width: 100%;
    height: 100%;
    z-index: 9999;

    .conteudoDoDialogo {
        position: relative;
        background-color: #fff;
        margin: 100px auto 0 auto;
        padding: 5px;
        width: 650px;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px -5px #242424;
    }
}

.listaDePersonas {
    padding: 0;

    .persona {
        cursor: pointer;
        display: inline-table;
        list-style: none;
        width: 23%;
        height: 150px;
        margin: 2px 0; 
        background-color: #ccc;
        border: 5px solid transparent;

        &:hover {
            border: 5px solid $corPadrao;
        }
    }
}

body {
    margin: 0;
    paddind: 0;
    background-image: url("../images/background.jpg");
    background-size: 85%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
}

.logo {
    position: relative;
    width: 500px;
    height: 190px;
    margin: 0 auto;
}

h1 {    
    position: absolute;
    color: #324e61;
    font-family: impact;
    text-transform: uppercase;
    text-align: center;
    font-size: 105px;
    line-height: 1;
    letter-spacing: -6px;
    width: 100%;
    z-index: 7777;
}

h2 {
    position: absolute;
    color: $corPadrao;
    font-family: 'djb_almost_perfectregular';;
    font-size: 42px;
    line-height: 1;
    bottom: -30px;
    right: 50px;
    z-index: 8888;

    text-shadow: 0px 1px 2px #242424;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);  
}

h3 {    
    color: #324e61;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;
    width: 100%;
    padding: 25px 0;
    margin: 0;
    z-index: 7777;
}

p {
    font-size: 20px;
    text-align: center;
    color: $corSecundaria;
    text-transform: uppercase;
}

.conteudo {
    width: 990px;
    margin: 8% auto 0 auto;
    font-size: 18px;
    border-radius: 6px;
    padding: 20px;
}


input[type="text"]{
    vertical-align: top;
    border: none;
    padding: 0 10px 0 10px;
    width: 760px;
    height: 60px;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 7px;
    
    box-shadow: 0px 0px 7px -2px #242424;
}

button {
    cursor: pointer;
    background: transparent;
    color: $corPadrao;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    vertical-align: top;
    width: 100px;
    height: 60px;
}

#feedback {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    background: transparentize($corSecundaria, .5);

    #barraDeProgresso {
        background: $corPadrao;
        height: 100%;
        width: 0;
    }

}

.fecharDialogo {
    cursor: pointer;
    padding: 10px 15px;
    background-color: $corPadrao;
    color: #fff;
    position: absolute;
    right: -15px;
    top: -15px;
}

#status {
    margin: 20px 0 0 0;
    font-size: 12px;
    text-align: right;
}



.conteudoPersona {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background: #FFF;
}











